---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Agosto 2023",
    title: "Desarrollador Backend",
    company: "DatasPeople",
    description:
      "Encargado en el desarrollo una API REST con R Plumber que facilita la manipulación de datos con R, ya que es integrado con aplicaciones web y escritorio, abstrayendo el codigo R.",
    link: "https://www.linkedin.com/company/dataspeople/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
