---
const profileImageAlt = "manucode";
import Badge from "@/components/Badge.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-md size-16 dark:shadow-[#00FF1A]"
      src="/profile-dev.webp"
      alt={profileImageAlt}
    />
    <a
      href="#"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
    Hola 👋, soy manucode
  </h1>
  <p
    class="mt-6 text-xl dark:[&>strong]:text-yellow-400 [&>strong]:text-yellow-500 [&>strong]:font-semibold"
  >
    <strong>Ingeniero en Informática</strong> en Panamá. Enfocado en el desarrollo
    de aplicaciones web y escritorio.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:work-portafolio.outplayed590@passinbox.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </nav>
</div>
